page-add-usage {
    @mixin hs-attributes-border($color:$list-md-border-color, $width: 1px) {
        border-top: $width solid $color;
    }

    .card-md ion-grid.usage-grid:not(:first-child) {
        @include hs-attributes-border();
    }
    .card-ios ion-grid.usage-grid:not(:first-child) {
        @include hs-attributes-border($hairlines-width,$list-ios-border-color);
    }

    .usage-grid {
        ion-select {
            max-width: 100%;
        }
    }
    ion-card-header.card-header {
        font-weight: bold;
        color: color($colors, dark, base);
    }
}
