<!--
  Generated template for the AddUsagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Anwendung | {{hazardousSubstance.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="cards-bg">
  <form [formGroup]="usage" novalidate (ngSubmit)="save()">
    <!--
      Anlagen
    -->
    <ion-card>
      <ion-card-header>
        Anlagen
      </ion-card-header>
      <ion-card-content>
        <ion-grid class="usage-grid" padding-vertical formArrayName="plants" *ngFor="let plantControl of plantControls; let i = index;">
          <ion-row align-items-center [formGroupName]="i">
            <ion-note color="primary" col-12 no-padding item-start>Anlage {{i+1}}</ion-note>
            <ion-item ion-col col-10>{{plantControl.get('plant').value.name}}</ion-item>
            <button ion-col col-2 type="button" ion-button icon-only clear color="danger" (click)="removePlant(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <ion-item ion-col>
              <!-- <ion-label color="primary" >Menge</ion-label> -->
              <ion-input type="number" clearInput placeholder="Menge" formControlName="amount"></ion-input>
            </ion-item>
            <ion-item ion-col>
              <!-- <ion-label color="primary" floating>Einheit</ion-label> -->
              <ion-select placeholder="Einheit" formControlName="unit" interface="action-sheet" cancelText="Abbrechen">
                <ion-option *ngFor="let u of units" value="{{u}}">{{u}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
        </ion-grid>
        <ion-item text-center>
          <button ion-button small outline type="button" (click)="addPlant()">Anlage hinzufügen</button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!--
      GBU/BA
    -->
    <ion-card>
      <ion-card-header>
        GBU/BA
      </ion-card-header>
      <ion-card-content>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-item text-center *ngIf="!usage.get('procedure').value; else procedureContent">
            <button ion-button small outline type="button" (click)="selectUsageEntity(usage.get('procedure'),procedures,'Verfahren')">Verfahren/Tätigkeit hinzufügen</button>
          </ion-item>
          <ng-template #procedureContent>
            <ion-row>
              <ion-note color="primary" col-12 no-padding item-start>Verfahren/Tätigkeit</ion-note>
              <ion-item ion-col col-10>{{usage.get('procedure').value?.name}} </ion-item>
              <button ion-col col-2 type="button" ion-button icon-only clear color="primary" (click)="selectUsageEntity(usage.get('procedure'),procedures,'Verfahren')">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-row>
          </ng-template>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-item text-center *ngIf="!usage.get('scope').value; else scopeContent">
            <button ion-button small outline type="button" (click)="selectUsageEntity(usage.get('scope'),scopes,'Anwendungsbereich')">Anwendungsbereich hinzufügen</button>
          </ion-item>
          <ng-template #scopeContent>
            <ion-row>
              <ion-note color="primary" col-12 no-padding item-start>Anwendungsbereich</ion-note>
              <ion-item ion-col col-10>{{usage.get('scope').value?.area}} </ion-item>
              <button ion-col col-2 type="button" ion-button icon-only clear color="primary" (click)="selectUsageEntity(usage.get('scope'),scopes,'Anwendungsbereich')">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-row>
          </ng-template>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <!--
      Substitutionsprüfung
    -->
    <ion-card>
      <ion-card-header>
        Substitutionsprüfung
      </ion-card-header>
      <ion-card-content>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-item text-center *ngIf="!usage.get('purpose').value; else purposeContent">
            <button ion-button small outline type="button" (click)="selectUsageEntity(usage.get('purpose'),purposes,'Verwendungszweck')">Produktkategorie hinzufügen</button>
          </ion-item>
          <ng-template #purposeContent>
            <ion-row>
              <ion-note color="primary" col-12 no-padding item-start>Produktkategorie</ion-note>
              <ion-item ion-col col-10>{{usage.get('purpose').value?.name}} </ion-item>
              <button ion-col col-2 type="button" ion-button icon-only clear color="primary" (click)="selectUsageEntity(usage.get('purpose'),purposes,'Verwendungszweck')">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-row>
          </ng-template>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-item text-center *ngIf="!usage.get('material').value; else materialContent">
            <button ion-button small outline type="button" (click)="selectUsageEntity(usage.get('material'),materials,'Material')">Material hinzufügen</button>
          </ion-item>
          <ng-template #materialContent>
            <ion-row>
              <ion-note color="primary" col-12 no-padding item-start>Material</ion-note>
              <ion-item ion-col col-10>{{usage.get('material').value?.name}} </ion-item>
              <button ion-col col-2 type="button" ion-button icon-only clear color="primary" (click)="selectUsageEntity(usage.get('material'),materials,'Material')">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-row>
          </ng-template>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-item text-center *ngIf="!usage.get('proc').value; else procContent">
            <button ion-button small outline type="button" (click)="selectUsageEntity(usage.get('proc'),procs,'PROC Code')">PROC Code hinzufügen</button>
          </ion-item>
          <ng-template #procContent>
            <ion-row>
              <ion-note color="primary" col-12 no-padding item-start>PROC Code</ion-note>
              <ion-item text-wrap ion-col col-10>{{usage.get('proc').value?.proc}}
                <p>{{usage.get('proc').value?.description}}</p>
              </ion-item>
              <button ion-col col-2 type="button" ion-button icon-only clear color="primary" (click)="selectUsageEntity(usage.get('proc'),procs,'PROC Code')">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-row>
          </ng-template>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <!--
      EMKG Haut
    -->
    <ion-card>
      <ion-card-header>
        EMKG Kriterien - Haut
      </ion-card-header>
      <ion-card-content formGroupName="emkgSkin">

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{ EMGK.skin.area.label}}</ion-note>
            <ion-item col-4>
              {{EMGK.skin.area.options[usage.get('emkgSkin.area').value]?.label}}
            </ion-item>
            <ion-item col-8>
              <ion-range formControlName="area" min="0" max="1" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.skin.area.options[usage.get('emkgSkin.area').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.skin.duration.label}}</ion-note>
            <ion-item col-4>{{EMGK.skin.duration.options[usage.get('emkgSkin.duration').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="duration" min="0" max="1" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item text-wrap>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.skin.duration.options[usage.get('emkgSkin.duration').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <!--
      EMKG Einatmen
    -->
    <ion-card>
      <ion-card-header>
        EMKG Kriterien - Einatmen
      </ion-card-header>
      <ion-card-content formGroupName="emkgInhalation">

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.inhalation.quantity.label}}</ion-note>
            <ion-item col-4>{{EMGK.inhalation.quantity.options[usage.get('emkgInhalation.quantity').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="quantity" min="0" max="2" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.inhalation.quantity.options[usage.get('emkgInhalation.quantity').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.inhalation.release.label}}</ion-note>
            <ion-item col-4>{{EMGK.inhalation.release.options[usage.get('emkgInhalation.release').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="release" min="0" max="2" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.inhalation.release.options[usage.get('emkgInhalation.release').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <!--
      EMKG Brand
    -->
    <ion-card>
      <ion-card-header>
        EMKG Kriterien - Brand
      </ion-card-header>
      <ion-card-content formGroupName="emkgFire">

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.fire.airSupply.label}}</ion-note>
            <ion-item col-4>{{EMGK.fire.airSupply.options[usage.get('emkgFire.airSupply').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="airSupply" min="0" max="3" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.fire.airSupply.options[usage.get('emkgFire.airSupply').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.fire.quantity.label}}</ion-note>
            <ion-item col-4>{{EMGK.fire.quantity.options[usage.get('emkgFire.quantity').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="quantity" min="0" max="2" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.fire.quantity.options[usage.get('emkgFire.quantity').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 no-padding item-start>{{EMGK.fire.release.label}}</ion-note>
            <ion-item col-4>{{EMGK.fire.release.options[usage.get('emkgFire.release').value]?.label}}</ion-item>
            <ion-item col-8>
              <ion-range formControlName="release" min="0" max="2" snaps="true" color="primary">
              </ion-range>
            </ion-item>
            <ion-item>
              <p margin-bottom text-wrap *ngFor="let description of EMGK.fire.release.options[usage.get('emkgFire.release').value]?.descriptions">
                {{description}}
              </p>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-grid class="usage-grid" padding-vertical>
          <ion-row>
            <ion-note color="primary" col-12 padding-bottom item-start>Zusätzliche Informationen</ion-note>
            <ion-item>
              <ion-label>Geschlossenes System</ion-label>
              <ion-checkbox padding-right item-right formControlName="closedSystem"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Brennbar</ion-label>
              <ion-checkbox padding-right item-right formControlName="flammable"></ion-checkbox>
            </ion-item>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        Debug
      </ion-card-header>
      <ion-card-content>
        <p>Dirty: {{ usage.dirty }}</p>
        <p>Touched: {{ usage.touched }}</p>
        <p>Valid: {{ usage.valid }}</p>
        <p>Value: </p>
        <pre>{{ usage.value | json }}</pre>
        <button ion-button block type="submit" [disabled]="!usage.valid">Submit</button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>