page-scan-qr-code {
    ion-content.transparent {
        background: transparent !important;
    }
    .qr-scan-area {
        ion-grid,
        ion-row {
            height: 100%;
        }
        ion-icon {
            font-size: 20em;
        }
    }
}
